<!-- 
<ion-content id="body">
  <ion-row id="aa">
 <ion-col size="12">
        <ion-text id="text"> GLOBAL VACATIONING MADE BETTER AN INDUSTRY DISRUPTIVE PLATFORM</ion-text>
</ion-col>
</ion-row>

<ion-img src="http://rentastico.com/assets/img/sites/rentastico-2.jpg"></ion-img>

  
<ion-row id="ab">
<ion-col size="12">
  <ion-text id="ind">The Industry</ion-text>
</ion-col>
</ion-row>
 <ion-row id="ac"> 
 <ion-col size="12">
      <ion-text id="pad">The industry currently is estimated at $100 billion, with the U.S. accounting for just over a quarter of that and research predicts the global vacation rental market will close in on $170 billion by 2019*. Meanwhile, finance industry experts calculated that in the first four months of 2016 alone, vacation rentals startups attracted nearly $100 million in venture capital funding, concentrated in the U.S. and Europe. *SKIFT June 2016</ion-text>
</ion-col>
</ion-row><br>

<ion-row id="ae">  
<ion-col size="12">
  <ion-text id="hey">INVESTMENT HIGHLIGHTS</ion-text>
  </ion-col>
  </ion-row>

<ion-row id="ad"> 
  <ion-col size="12">
       <ion-text>Finalizing 3 Years of research & development of multiple intellectual properties and verticals. Revenue producing, beta launch projected for early 2017 for core platforms. Revenue modelling projects profits of 100+ million by year 2 after full launch Years ahead of the emerging competition with an existing rental database of over 500,000 vacation rentals.</ion-text>
  </ion-col>


<ion-col size="12">
  <ion-text>Millennial’s are the fastest growing segment & require a social network 20 million shares outstanding with no debt. No industry legal issues by offering only vacation rental properties. Seeking seed financing of $300,000 USD @ 0.25 share for final development, design and legal costs.</ion-text>
</ion-col>
</ion-row>
</ion-content> -->
<router-outlet></router-outlet>
