
<ion-content>
  <ion-grid class="create_post_styl">
    <div class="destop">
      <ion-row style="background-color: #000000;">
        <div class="main-head">
          <div class="lists">
            <!-- <app-back-button slot="start" *ngIf="!globaldata.mainheader"></app-back-button> -->
            
           
            <div class="list-items">
              <nav class="menu-subParts">
                <ul class="header_ul">
                  <div class="logo">
                    <img style="height: 60px;width: 60px;border-radius: 50%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIQeGkyHqxcfd6sZw5_0oQQm501Czjw8UaYg&usqp=CAU.jpg" [routerLink]="['/home']" routerLinkActive="active" />
                  </div>
                  <p
                  onclick="alert('Still Working')" class="header_txt"
                    
                    (click)="presentPopover($event, 'tsn')"
                  >
                    {{'Header_1' | translate}}
                  </p>
                  <p
                  onclick="alert('Still Working')" class="header_txt"
                   
                  >
                    {{'Header_2' | translate}}
                  </p>
                  <p
                  onclick="alert('Still Working')" class="header_txt"
                    
                  >
                  {{'Header_3' | translate}}
                  </p>
                  <p
                  onclick="alert('Still Working')"   class="header_txt"
                    (click)="presentPopover($event, 'twork')"
                  >
                  {{'Header_4' | translate}}
                  </p>
                  <p
                    class="header_txt"
                     (click)="presentPopover($event, 'trips')"
                  >
                  {{'Header_5' | translate}}
                  </p>
                  <!-- <li class="travelation"> Photos</li>
                      <li class="travelation"> Videos</li> -->
                </ul>
              </nav>
            </div>
          </div>

          <div style="display: flex">
            <div style="display: flex; align-items: center">
              <div class="margin-left:25px">
                <ion-input type="text" class="ion-itemInput">
                  <ion-icon name="search" style="color:#fff;" class="serch-icon"></ion-icon>
                </ion-input>
                <hr />
              </div>

              <div
               class="div_icon">
                <a [routerLink]="['/login']">
                  <ion-icon name="person" class="person-icon" style="color: white"></ion-icon>
                </a>
              </div>
              
            </div>
             
          </div>
        </div>
      </ion-row>
    </div>

    <ion-row>
      <ion-col class="text_sty">
        <ion-label class="agency_name_label">Create Post</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="post-total">
          <ion-row class="data_row">
            <ion-col class="avatar_col ion-no-padding">
              <ion-row class="input_row">
                <ion-avatar>
                  <img
                    src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
                  />
                </ion-avatar>
                <ion-input
                  placeholder=" What's on your mind {{ userInformation && userInformation.firstName }}. ?"
                 [(ngModel)]="msg" class="textarea ion-no-padding"
                >
                </ion-input>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <ion-button (click)="clickEvent()">ADD POST</ion-button>
        
        <h2>{{msg}}</h2>
      </ion-col>
    </ion-row>

    <ion-row class="links_row">
      <ion-col size-xl="10" size-lg="12" size-md="12" size-sm="12" size-xs="12" class="ion-no-padding">
        <ion-list>
          <ion-item  color="transparent" lines="none" class="newColor ">
            <img class="svg" class="svg" src="../../assets/images.svg" />
            <ion-label>{{'Tab_1' | translate}}</ion-label>
          </ion-item>
          <ion-item color="transparent" lines="none" >
            <img class="svg" class="svg" src="../../assets/newspaper.svg" />
            <ion-label>{{'Tab_2' | translate}}</ion-label>
          </ion-item>
          <ion-item (click)="addNewUserPost()" color="transparent" lines="none">
            <img class="svg" src="../../assets/location.svg" /><ion-label>{{'Tab_3' | translate}}</ion-label>
          </ion-item>
          <ion-item color="transparent" lines="none">
            <img class="svg" src="../../../assets//travel-timeline/Edit_Black.svg" class="click-icon click-icon1" />

            <ion-label>{{'Tab_4' | translate}}</ion-label>
          </ion-item>
          <ion-item color="transparent" lines="none" [routerLink]="['/login']">
            <img class="svg" src="../../assets/calendar-number.svg" />
            <ion-label>{{'Tab_5' | translate}}</ion-label>
          </ion-item>
          <ion-item color="transparent" lines="none" [routerLink]="['/shell']">
            <img class="svg" src="../../assets/location.svg" />

            <!-- <ion-icon class="click-icon" name="image-outline"></ion-icon> -->
            <ion-label>{{'Tab_6' | translate}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col
        size-xl="2"
        size-lg="5"
        size-md="5"
        size-sm="5"
        size-xs="5"
        
      >
        <ion-item class="stream-btn ion-no-margin" color="nocolor" lines="none">
          <ion-label>
            <ion-icon name="play"></ion-icon>
          </ion-label>
          <ion-select
            value="{{ MyDefaultLiveValue }}"
            lines="none"
            mode="ios"
            interface="popover"
          >
            <ion-select-option *ngFor="let item of goLiveDropdown" value="{{ item.id }}"
              >{{ item.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

    
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col  class="ion-no-padding" size-xl="5.8"
        size-lg="5.8"
        size-md="5.8"
        size-sm="5.8"
        size-xs="11"
        
      >
      <div class="pop">
        <ion-item class="subscribed">
          <ion-select
            lines="none"
            mode="ios"
            interface="popover"
            value="{{ MyDefaultSubscribedValue }}"
          >
            <ion-select-option *ngFor="let item of subscribedContentDropdown" value="{{ item.id }}"
              >{{ item.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        </div>
      </ion-col>

      <ion-col
        class="ion-no-padding"
        size-xl="5.8"
        size-lg="5.8"
        size-md="5.8"
        size-sm="5.8"
        size-xs="11"
        
      >
        <ion-item class="subscribed">
          <ion-select
            lines="none"
            mode="ios"
            interface="popover"
            value="{{ MyDefaultPostvalue }}"
          >
            <ion-select-option *ngFor="let post of postTypeDropdown" value="{{ post.value }}"
              >{{ post.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <div>
        <ion-row style="background-color: black;">
          <ion-col size="12">
            <p
              class="trip_h">
              {{'Trips_head' | translate}}
            </p>
            <p
             class="trip_p"> {{'Experience_texts' | translate}} </p>
          </ion-col>

          <ion-col size="12">
            <div>
              <img width="100%" src="../../assets/photo-grid.png" />
            </div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row>
        <div>
          <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="12" size-xs="12">
            <p>{{'Events_1' | translate}}</p>

            <div *ngFor="let pics of pictures">
              <ion-card style="height: 330px;width: 250px;">
                <ion-row>
                  <ion-col size="12">
                    <img style="height: 170px;width: 249px;" src="{{ pics.img }}" />
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>{{ pics.title }}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>{{ pics.text }}</ion-label>
                  </ion-col>
                  <ion-grid style="background-color: #0767b3;">
                    <ion-col size="12">
                      <p class="card_p">{{ pics.date }}</p>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label style="color: #fff;">{{ pics.day }}</ion-label>
                    </ion-col>
                  </ion-grid>
                </ion-row>
              </ion-card>
            </div>
          </ion-col>
        </div>
        <div style="margin-top: 40px;">
          <ion-col size-lg="4" size-xl="4" size-md="6" size-sm="12" size-xs="12">
            <div *ngFor="let pics of pictures">
              <ion-card style="height: 330px;width: 250px;">
                <ion-row>
                  <ion-col size="12">
                    <img style="height: 170px;width: 249px;" src="{{ pics.img }}" />
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>{{ pics.title }}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>{{ pics.text }}</ion-label>
                  </ion-col>
                  <ion-grid style="background-color: #0767b3;">
                    <ion-col size="12">
                      <p class="card_p">{{ pics.date }}</p>
                    </ion-col>
                    <ion-col size="12">
                      <ion-label style="color: #fff;">{{ pics.day }}</ion-label>
                    </ion-col>
                  </ion-grid>
                </ion-row>
              </ion-card>
            </div>
          </ion-col>
        </div>
        <!-- test code -->

        <ion-col size-lg="6" size-xl="6" size-md="6" size-sm="12" size-xs="12">
          <div class="timeline">
            <div
             class="review_div">
              <h4 style="padding: 11px;color: white;">REVIEWS</h4>
            </div>
            <div *ngFor="let entry of timeLine; let i = index">
              <ion-card class="content" [style.background-image]="'url(' + entry.backgroundImg + ')'">
                <ion-row>
                  <ion-col size="12" class="date">
                    <ion-label style="color:rgb(231, 231, 231)">{{ entry.date }}</ion-label>
                    <img style="height: 30px; width:30px" src="{{ entry.img }}" />
                  </ion-col>
                  <ion-col size="12" class="contentData">
                    <ion-label class="review">{{ entry.content }}</ion-label>
                  </ion-col>
                  <!-- <ion-col size="12" class="author">
                                <ion-label>{{ entry.author }}</ion-label>
                              </ion-col> -->
                  <ion-col size="12" class="readMore">
                    <div [ngClass]="{'limitTextHeight': isReadMore}">
                      <p class="more_text">
                        {{'Review_p' | translate}}
                      </p>
                  </div>
                  <button type="button" (click)="showText()">
                      {{ isReadMore ? 'Read More': 'Read Less' }}
                    </button>
                  </ion-col>
                  <div class="delete-edit" class="edit">
                    <img style="height: 25px; width:25px" src="{{ entry.edit }}" />
                    <!-- <img src="{{entry.delete}}"> -->
                  </div>
                </ion-row>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <!-- ends here  -->
    </ion-row>
    <ion-footer class="footer_styl">
      <ion-row class="download_row">
        <ion-col size-xs="5.5" size-sm="5.5" size-md="5.5" size-lg="5.5" size class="travel2ubeLogo">
          <img
            style="height: 25px;width: 25px; border-radius: 16px;"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN5kIcn-nHOWmR6sZ6aRkIN1WbMkbZ5Rb2jg&usqp=CAU.jpg"
          />
        </ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6">
          <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-label class="on_the_go">ON THE GO?</ion-label>
          </ion-row>
          <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-label class="download_label">DOWNLOAD THIS <b>DEMO</b> APP TODAY</ion-label>
          </ion-row>
          <ion-row size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-icon class="logo-android" name="logo-android"></ion-icon>
            <ion-icon class="logo-android" name="logo-apple"></ion-icon>
            <ion-icon class="logo-android" name="logo-windows"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-row class="body_row">
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <div>
              <ion-title class="footer_headings">{{'Footer_About' | translate}} </ion-title>
              <ul>
                <li>{{'Footer_1' |translate}}</li>
                <li>{{'Footer_2' |translate}}</li>
                <li>{{'Footer_3' |translate}}</li>
                
              </ul>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <div>
              <ion-title class="footer_headings">{{'Footer_Custom' | translate}} </ion-title>
              <ul>
                <li>{{'Footer_Custom' | translate}}</li>
                <li>{{'Footer_Custom' | translate}}</li>
                
                <li>{{'Footer_Custom' | translate}}</li>
                
              </ul>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <div>
              <ion-title class="footer_headings">{{'Footer_Help' | translate}} </ion-title>
              <ul>
                <li>{{'Footer_H1' | translate}}</li>
                <li>{{'Footer_H2' | translate}}</li>
                <li>{{'Footer_H3' | translate}}</li>
                
              </ul>
            </div>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3">
            <div>
              <ion-title class="footer_headings">{{'Footer_Reach' | translate}} </ion-title>
              <ul>
                <li><ion-icon style="height: 25px;width: 30px;" name="logo-facebook"></ion-icon>{{'Footer_R1' | translate}}</li>
                <li><ion-icon style="height: 25px;width: 30px;" name="logo-linkedin"></ion-icon>{{'Footer_R2' | translate}}</li>
                <li><ion-icon style="height: 25px;width: 30px;" name="logo-twitter"></ion-icon>{{'Footer_R3' | translate}}</li>
                
              </ul>
            </div>
          </ion-col>
        </ion-row>

        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" style="background-color: #000;">
          <div class="div_styl">
            <p class="p_FOOTER_COPYRIGHTS">
              Copyright {{ 'FOOTER_COPYRIGHTS_1' | translate }} All rights reserved
              
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-grid>
</ion-content>
