<mat-sidenav-container class="sidenav-fab-container" fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true">
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="['/demo', 'button-demo']"
            routerLinkActive="router-link-active"
            #rla="routerLinkActive"
            >Page 1</a
          >
        </li>
        <li>
          <a
            routerLink="/demo/input-demo"
            routerLinkActive="router-link-active"
            #rla="routerLinkActive"
            >Go To Page2</a
          >
        </li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
